﻿@{
    ViewBag.Title = "Home Page";
}



<div class="row">
    <div class="col-md-4">
        <iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3Af463ce196272cd29464c5bd4e447c65bcdf2b69c82d1f34df029de81680bb6f5&amp;source=constructor" width="1280" height="720" frameborder="0"></iframe>
    </div>
    
</div>